#actions{max-width:800px;margin:0 auto 10px}#actions .node-name{margin-right:20px;margin-left:8px}#actions .parent{margin-right:20px;margin-left:8px}#container{max-width:800px;margin:0 auto;border:1px solid #e0e0e0}#container>svg{padding-top:10px}#container .node{cursor:pointer;-webkit-user-select:none;user-select:none}

